.selectLanguages.ant-select .ant-select-selector {
      background-color: transparent;
      color: white;
      border-radius: 4px !important;
}

.selectLanguages.ant-select .ant-select-arrow {
      color: white;
      top: 0;
      height: 0;
      margin-top: 20px;
}
