.content {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
}
.table {
      & table tr td {
            padding: 14px 16px !important;
      }
}
.search {
      width: 520px;
      outline: none;
      border: none;
      border-radius: 8px;
      background-color: var(--background-color-input);
      padding: 12px 8px;
      color: #fff;
      font-size: 12px;
      margin-top: 4px;
}

.listCardPlayList {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px 0px;
      flex-wrap: wrap;
}

.view {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
}
.logoViewTable {
      cursor: pointer;

      &.active svg path {
            stroke: var(--color-orange);
      }
}
.logoViewCard {
      cursor: pointer;

      &.active svg path {
            stroke: var(--color-orange);
      }
}

// Modal denied
.heading {
      font-size: 20px;
      text-align: center;
      font-weight: 700;
      color: var(--color-text-stroke);
}
.text-area {
      background-color: var(--background-color-input);
      padding: 12px 24px 12px 16px;
      color: var(--text-color-stroke-2);
      border-radius: 8px;
      width: 100%;
      outline: none;
      border: none;
      margin: 20px 0px;
      font-size: 14px;
}
.buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
}
