.modalSidebar {
      display: flex;
      position: fixed;
      width: 100%;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.45);
}
.modalSidebar.close {
      background-color: unset;
      & .wrapper_Sidebar {
            width: 30px;
            position: relative;
      }
      & .LogoApp {
            display: none;
      }
      & .navbar_list {
            display: none;
      }
      & .openSidebar.show {
            display: block;
            color: white;
      }
}
.openSidebar {
      position: absolute;
      top: 50%;
      left: 26%;
      opacity: 0.6;
      cursor: pointer;
}
.openSidebar.hide {
      display: none;
}
.openSidebar:hover {
      opacity: 1;
}
.wrapper_Sidebar {
      width: var(--width-sidebar);
      text-align: center;
      padding-top: 20px;
      transition: 0.4s ease;
      border-radius: 50%;
      background-color: var(--background-sidebar);
      border-radius: 0px 20px 20px 0px;
      height: 100vh;
}

.LogoApp {
      width: 96px;
      height: 96px;
      position: relative;
      left: -2px;
      animation: fadeShow 1s ease;
}
.navbar_list {
      margin-top: 20px;
      animation: fadeShow 1s ease;
}

.navbar-item {
      position: relative;
      width: 100%;
      margin: 16px 0px;
      display: block;
      padding: 6px 0px;
      transition: 0.3s ease;

      & .rectangleActive {
            width: 6px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 6px;
      }

      & .title {
            color: var(--text-color-sidebar);
            font-size: 12px;
            font-weight: 500;
            margin-top: 2px;
            text-decoration: underline var(--background-sidebar);
            letter-spacing: 1.5%;
      }

      & .logoRight {
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);
            width: 16px;
            height: 20px;

            & svg path {
                  stroke: #fff;
            }
      }
}
.navbar-item.active {
      & .rectangleActive {
            background-color: var(--color-orange);
      }
      .title {
            color: var(--color-orange);
      }
      & svg.fill path {
            fill: var(--color-orange);
      }
      & svg.stroke path {
            stroke: var(--color-orange);
      }

      & .logoRight {
            & svg path {
                  stroke: var(--color-orange);
            }
      }
}
.navbar-item:hover {
      .title {
            color: var(--color-orange);
      }
      & svg.fill path {
            fill: var(--color-orange);
      }
      & svg.stroke path {
            stroke: var(--color-orange);
      }

      & .logoRight {
            & svg path {
                  stroke: var(--color-orange);
            }
      }
}
@keyframes fadeShow {
      from {
            opacity: 0;
      }
      to {
            opacity: 1;
      }
}
// Sub menu
.navbar-item:hover .sub-menu {
      display: block;
}
.sub-menu {
      display: none;
      position: absolute;
      width: 200px;
      background-color: var(--background-sidebar-submenu);
      top: 0px;
      left: 100%;
      z-index: 2;
      border-radius: 0px 8px 8px 0px;
}
.sub-menu .sub-menu-item {
      display: block;
      width: 100%;
      padding: 12px 12px;
      background-color: transparent;
      text-decoration: none;
      transition: 0.1s linear;
      color: #fff;
      font-weight: 400;
      font-size: 12px;
      text-align: left;
}
.sub-menu .sub-menu-item:hover {
      background-color: #3e3e5b;
}

// button open sidebar
