.wrapperResetPassword {
      height: 100%;
}
.wrapperResetPassword svg {
      margin: 50px auto 0px auto;
      display: block;
}
.title {
      font-weight: 700;
      font-size: 36px;
      line-height: 48px;
      color: #fff;
      text-align: center;
      margin: 20px 0px;
}
.label {
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 10px;
      color: #fff;
      display: block;
      opacity: 70%;
}
.input {
      width: 470px;
      height: 38px;
      font-size: 14px;
      color: #fff;
      border-radius: 8px;
      padding: 8px 16px;
      background-color: var(--background-color-input);
      border: none;
      outline: none;
      border: 1px solid transparent;
}
.input.showError {
      border-color: red;
}
.input:focus {
      border-color: var(--color-blue);
}
input[type='checkbox'] {
      width: 14px;
      height: 14px;
      margin-top: 6px;
}
.rememberAccount {
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      margin-left: 8px;
      color: #fff;
}
.errorMessage {
      margin-top: 10px;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: var(--color-red);
      display: block;
      opacity: 0;
}
.errorMessage.show {
      opacity: 1;
}
.errorMessage::before {
      display: inline;
      content: '⚠ ';
}

.forgetPassword {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: var(--color-orange);
      text-decoration: underline;
      text-align: center;
      margin-top: 30px;
      display: block;
}
