.wrapperForgetPassword {
      height: 100%;
}
.wrapperForgetPassword svg {
      margin: 50px auto 0px auto;
      display: block;
}
.title {
      font-weight: 700;
      font-size: 36px;
      line-height: 48px;
      color: #fff;
      text-align: center;
      margin: 20px 0px 6px 0px;
}

.text {
      font-weight: 400;
      font-size: 12px;
      line-height: 24px;
      color: #fff;
      letter-spacing: 0.3px;
      text-align: center;
}
.text + .text {
      margin-bottom: 0px;
}
.label {
      font-size: 12px;
      font-weight: 600;
      line-height: 24px;
      margin-top: 32px;
      margin-bottom: 10px;
      color: #fff;
      display: block;
      opacity: 70%;
}
.input {
      width: 580px;
      height: 38px;
      font-size: 12px;
      color: #fff;
      border-radius: 8px;
      padding: 8px 16px;
      background-color: var(--background-color-input);
      border: none;
      outline: none;
      border: 1px solid transparent;
}
.input.showError {
      border-color: red;
}
.input:focus {
      border-color: var(--color-blue);
}

.errorMessage {
      margin-top: 10px;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      color: var(--color-red);
      display: block;
      opacity: 0;
}
.errorMessage.show {
      opacity: 1;
}
.errorMessage::before {
      display: inline;
      content: '⚠ ';
}

.login {
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      color: var(--color-orange);
      text-decoration: underline;
      text-align: center;
      margin-top: 60px;
      display: block;
}
