:root {
      --height-card: 260px;
}
.wrapperCard {
      border-radius: 8px;
      overflow: hidden;
      width: 292px;
      height: var(--height-card);
      transition: 0.3s ease;

      &:hover {
            box-shadow: 0 0 12px 2px var(--color-orange);
            cursor: pointer;
      }
}
.image {
      cursor: pointer;
      position: relative;
      width: 100%;
      height: calc(var(--height-card) / 2 - 10px);

      & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
      }

      & .logo-play-video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
      }
      &:hover rect {
            fill: var(--background-color-modal);
      }
      &:hover path {
            fill: #fff;
      }
}
.info {
      height: calc(var(--height-card) / 2 + 10px);
      background-color: #313149;
      padding: 4px 20px 2px 20px;
}
.nameRecord {
      font-size: 14px;
      font-weight: 600;
      color: #fff;
}
.block {
      margin: 2px 0px 10px 0px;
      & .title {
            font-size: 10px;
            font-weight: 700;
            color: var(--color-text-stroke);
      }
      & .content {
            font-size: 10px;
            font-weight: 400;
            color: var(--color-text-stroke);
            opacity: 0.8;
      }

      & .row {
            line-height: 16px;
            margin: 0px;
      }
}

.infoDetails {
      display: flex;
      justify-content: space-between;
      margin-top: 1px;
}
.item {
      padding: 4px 10px;
      text-align: center;
      border: 1px solid var(--color-text-stroke-2);
      border-radius: 6px;
      margin-right: 10px;
      & .title {
            font-size: 8px;
            font-weight: 700;
            color: var(--color-text-stroke-2);
      }
      & .content {
            font-size: 10px;
            font-weight: 500;
            color: var(--color-text-stroke);
            margin-top: 2px;
      }
}

.checkbox-logoEdit {
      flex: 1;
      position: relative;
      & svg,
      label {
            position: absolute;
            right: 0;
            bottom: 2px;
      }

      & label span span {
            width: 20px !important;
            height: 20px !important;
      }
}
