.ant-table-wrapper {
      width: var(--width-table-content);
      max-height: 490px;
      overflow: hidden;
}

.ant-table {
      border-radius: 8px !important;
      overflow: hidden;
}

.ant-table-thead tr th.ant-table-cell {
      background-color: var(--background-color-table);
      font-size: 12px;
      font-weight: 700;
      color: var(--color-orange-header-table);
}

.ant-table-tbody tr td.ant-table-cell {
      font-weight: 400;
      color: white;
      font-size: 12px;
}
/* antd row selection checkbox */
:where(.css-dev-only-do-not-override-1i536d8).ant-checkbox .ant-checkbox-inner {
      background: transparent;
      border: 2px solid var(--color-blue);
      border-radius: 2px;
}
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper .ant-table-thead > tr > th {
      border-bottom: unset;
}

:where(.css-dev-only-do-not-override-1i536d8).ant-checkbox-wrapper,
:where(.css-dev-only-do-not-override-1i536d8).ant-checkbox {
      font-size: 12px !important;
}
/* row selected */
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper .ant-table-tbody > tr.ant-table-row-selected > td {
      background-color: transparent;
}
:where(.css-dev-only-do-not-override-1i536d8).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled)
      .ant-checkbox-checked:not(.ant-checkbox-disabled)
      .ant-checkbox-inner {
      background-color: var(--color-blue);
}

/* Row header */
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper .ant-table-thead > tr > th,
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper .ant-table-tbody > tr > td,
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper tfoot > tr > th,
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper tfoot > tr > td {
      padding: 16px 10px;
}
.ant-table-thead tr {
      height: 60px;
}
/* background-color table */
:where(.css-dev-only-do-not-override-1i536d8)[class^='ant-table'] [class^='ant-table'],
:where(.css-dev-only-do-not-override-1i536d8)[class*=' ant-table'] [class^='ant-table'],
:where(.css-dev-only-do-not-override-1i536d8)[class^='ant-table'] [class*=' ant-table'],
:where(.css-dev-only-do-not-override-1i536d8)[class*=' ant-table'] [class*=' ant-table'] {
      background-color: var(--background-color-table);
}

/* row table hover */
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > td,
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper .ant-table-tbody > tr > td.ant-table-cell-row-hover {
      background-color: unset;
}

:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper
      .ant-table:not(.ant-table-bordered)
      .ant-table-tbody
      > tr.ant-table-row:hover
      > td:first-child,
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper
      .ant-table:not(.ant-table-bordered)
      .ant-table-tbody
      > tr
      > td.ant-table-cell-row-hover:first-child,
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper
      .ant-table:not(.ant-table-bordered)
      .ant-table-tbody
      > tr.ant-table-row.ant-table-row-selected
      > td:first-child {
      border-start-start-radius: unset;
      border-end-start-radius: unset;
}

:where(.css-dev-only-do-not-override-1i536d8) a:hover {
      color: var(--color-orange);
      text-decoration: underline;
}

/* border-bottom row */
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper .ant-table-tbody tr td,
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper .ant-table-tbody tr.ant-table-measure-row tr td {
      border-bottom: 1px solid var(--color-text-stroke-2);
}

/* column padding */
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper .ant-table-tbody > tr > td,
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper tfoot > tr > th,
:where(.css-dev-only-do-not-override-1i536d8).ant-table-wrapper tfoot > tr > td {
      padding: 7px 16px;
}

.text-underline {
      font-size: 12px;
      color: var(--color-orange);
      cursor: pointer;
}
.text-underline:hover {
      text-decoration: underline;
}
