@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
      --width-sidebar-open: 150px;
      --width-sidebar-close: 30px;
      --width-content-sidebar-open: 1240px;
      --width-content-sidebar-close: 1340px;
      --background-sidebar: #020220;
      --background-sidebar-submenu: #30303f;
      --text-color-sidebar: #c8c8db;
      --background-color-primary: #1e1e2e;
      --background-color-modal: #3e3e5b;
      --background-color-input: #2b2b3f;
      --background-color-table: #2a2a3b;
      --background-color-table-row-hover: rgba(0, 0, 0, 0.247);
      --background-color-table-row-selected: #525283;
      --background-color-linkActions: #2f2f41;
      --color-red: #ff4747;
      --color-orange: #ff7506;
      --color-orange-header-table: #ffac69;
      --color-blue: #347aff;
      --color-gray: #878890;
      --color-gray-light: #aeaeae;
      --color-text-stroke: #f5f5ff;
      --color-text-stroke-2: #727288;
}
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
}
.wrapper {
      width: 100%;
      height: 100vh;
}
.wrapper-public {
      background-color: var(--background-color-primary);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
}
.ant-image-mask-info {
      display: flex;
      justify-content: center;
      align-items: center;
}
/* ant modal */
.ant-modal-content {
      background-color: var(--background-color-modal) !important;
}

/* * Reset CSS Antd * */
p {
      margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
      margin: 0;
      margin-block-start: 0px;
      margin-block-end: 0px;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
}
